<h1 class="title-text">BE ANT</h1>
<div class="container">
	<div class="sub-title">
		<p class="sub-title-text">目標に向けてコツコツがんばろう！</p>
	</div>
	<div class="story-text">
		<h3>アリとキリギリスとは？</h3>
		<br>
		<h3>夏、アリは冬に備えて働き、キリギリスは遊んで過ごす</h3>
		<h3>冬、アリにはコツコツ働いて貯めた食料があったが、キリギリスは遊んでいたために食料がなく苦しむ</h3>
	</div>
</div>