<h1 class="title-text">BE ANT</h1>
<div class="container">
	<div class="sub-title">
		<p class="sub-title-text">目標に向けてコツコツがんばろう！</p>
	</div>
	<div class="story-text">
		<h3>アリとキリギリスとは？</h3>
	</div>
</div>