<h1 class="title-text">BE ANT</h1>
<div class="container">
	<div class="sub-title">
		<p class="sub-title-text">目標に向けてコツコツがんばろう！</p>
	</div>
	<div class="story-text">
		<h3>アリとキリギリスとは？</h3>
	</div>
	<div>
		<p class="text-center">ユーザー数：<%= User.all.count %>人</p>
		<p class="text-center">設定された目標：<%= Goal.all.count %>件</p>
		<p class="text-center">達成された目標：<%= Goal.where(status: "達成").count %>件</p>
		<p class="text-center">達成時の平均アリ度：<%= %>%</p>
	</div>
</div>