// Place all the styles related to the goals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.goal-information {
	background-color: rgb(105, 209, 114);
	text-align: center;
}
.goal-information-chart {
	background-color: rgb(240, 253, 182);
}