// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.title-text {
	text-align: center;
	font-size: 100px;
	font-weight: 400;
	color: black;
	padding: 50px;
}

.sub-title-text {
	text-align: center;
	font-size: 50px;
	font-weight: 200;
	color: black;
}

.my-goals {
	text-align: center;
	font-weight: 100;
	color: black;
	background-color: white;
	width: 100%;
	margin-top: 20px;
}

.story-text {
	padding-top: 50px;
	text-align: center;
}