<div class="card card-primary">
	<div class="card-body">
		<h3 class="text-center">ID：<%= @user.id %></h3>
		<h3 class="text-center">名前：<%= @user.name %></h3>
		<h3 class="text-center">メールアドレス：<%= @user.email %></h3>
		<h3 class="text-center">権限：<%= @user.role %></h3>
	</div>
</div>