<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
	<!-- Brand Logo -->
	<a href="../admin" class="brand-link">
		<span class="brand-text font-weight-light">AdminLTE 3</span>
	</a>

	<!-- Sidebar -->
	<div class="sidebar">
		<!-- Sidebar user (optional) -->
		<div class="user-panel mt-3 mb-3 d-flex">
			<div class="info">
				<p class="d-block text-white"><%= current_user.name %></p>
			</div>
		</div>

		<!-- Sidebar Menu -->
		<nav class="mt-2">
			<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
				<!-- Add icons to the links using the .nav-icon class
						with font-awesome or any other icon font library -->
				<li class="nav-item">
					<a href="../admin" class="nav-link">
						<i class="nav-icon fas fa-tachometer-alt"></i>
						<p>
							ダッシュボード
						</p>
					</a>
				</li>
				<li class="nav-item">
					<a href="../admin/users" class="nav-link">
						<i class="nav-icon fas fa-user"></i>
						<p>
							ユーザー一覧
						</p>
					</a>
				</li>
				<li class="nav-item">
					<a href="../admin/records" class="nav-link">
						<i class="nav-icon fas fa-bolt"></i>
						<p>
							アクション一覧
						</p>
					</a>
				</li>
				<li class="nav-item">
					<a href="../admin/goals" class="nav-link">
						<i class="nav-icon fas fa-flag"></i>
						<p>
							目標一覧
						</p>
					</a>
				</li>
				<li class="nav-item">
					<a href="../admin/kinds" class="nav-link">
						<i class="nav-icon fas fa-bookmark"></i>
						<p>
							カテゴリー一覧
						</p>
					</a>
				</li>
			</ul>
		</nav>
		<!-- /.sidebar-menu -->
	</div>
	<!-- /.sidebar -->
</aside>